/* React Filepicker Example CSS */

body {
    font-family: sans-serif;
}

h1, h2, h3 {
    color: #000;
    text-align: center;
}

h2 a {
    text-decoration: none;
    color: #000;
}

div.example {
    margin-left: 20px;
}

div.intro {
    margin-left: 20px;
    color: #000;
}

div#content {
    width: 80%;
    margin: 0 auto;
}

.filepicker.dropzone .dz-preview.dz-image-preview {
    background: none;
}

.filepicker.dropzone .dz-preview.dz-image-preview .dz-image {
    border-radius: 5px;
}

.button {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 19px 39px 18px;
    margin: 15px;
    font-size: 18px;
    border-color: #326E99;
    background-color: #3F8ABF;
}

.button:hover {
    background-color: #397CAC;
    border-color: #326E99;
}

.buttonContainer {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#upload {
    height: 50%;
}

.hidden {
    display: none;
}